NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_INBOX_ARMY_URL=
NEXT_PUBLIC_BASE_PATH=

NEXT_PUBLIC_APP_API_URL=http://localhost:3333
NEXT_PUBLIC_APP_FRONT_URL=http://localhost:3000
NEXT_PUBLIC_APP_ADMIN_URL=http://localhost:4200
