APP_ENV=local
PORT=3333
APP_KEY=eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIi

API_URL=http://localhost:3333
FRONT_URL=http://localhost:3000
ADMIN_URL=http://localhost:4200

# Jwt
JWT_SECRET=eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIi
JWT_EXPIRES_IN=30d

# Database
DATABASE_SSL_MODE=
DATABASE_SSL_CA_PATH=
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=5432

# File Storgae
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_CDN_URL=

# Email SMTP
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=
MAIL_HOST=
MAIL_PORT=465
MAIL_ENCRYPTION=true
MAIL_USERNAME=
MAIL_PASSWORD=

# ChatGPT
OPEN_AI_SECRET_KEY=
OPEN_AI_PROJECT_ID=

# MAIL contact form recipients
MAIL_CONTACT_FORM_RECIPIENTS=""

#----------------------------------
# React Env
#----------------------------------
# Next.js
NEXT_PUBLIC_APP_ENV=${APP_ENV}
NEXT_PUBLIC_INBOX_ARMY_URL=
NEXT_PUBLIC_BASE_PATH=

NEXT_PUBLIC_APP_API_URL=${API_URL}
NEXT_PUBLIC_APP_FRONT_URL=${FRONT_URL}
NEXT_PUBLIC_APP_ADMIN_URL=${ADMIN_URL}


# React Admin
NX_PUBLIC_REACT_APP_API_URL=${API_URL}
NX_PUBLIC_REACT_APP_FRONT_URL=${FRONT_URL}
NX_PUBLIC_REACT_APP_ADMIN_URL=${ADMIN_URL}
